node_modules/
dist/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
*.tsbuildinfo
vite.config.js
vite.config.d.ts
data/
.env